@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500,700;&display=swap');

:root {
    --color-white: white;
    --color-green: #3A5622;
    --color-black: black;
    --color-orange: #DE8C20;
    --color-grey: #e5e9e3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-white);
}
.modal-contact:hover{
 color: var(--color-orange);
}
.nav-contact{
    color: var(--color-green);
}
.nav-contact:hover{
    color: var(--color-orange);
}
ul, ol{
    list-style: none;
}

button {
    box-shadow: none;
    outline: none;
}

html, body {
    width:100%;
    font-family: "Poppins", sans-serif;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    background-color: var(--color-white);
}
.nav-content{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    cursor: pointer;
    color: var(--color-green);
}
.nav-item{
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
}
.nav-item:hover{
    color: var(--color-orange);
}
.nav-item::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    transition: width 0.2s ease;
    background-color: var(--color-black);
}
.nav-item:hover::after{
    width: 100%;
    
}
.menu-hamburger-content{
    display: none;
}
.display-off{
    display: none;
}
.modal-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: rgba(58, 86, 34, 0.58);
    backdrop-filter: blur(6.6px);
    /* transform: translateX(-100%); */
    /* transition: transform 0.3s ease; */
}

.modal-menu--content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    cursor: pointer;
    gap: 60px;
}

.page-container{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}

.section--header{
    position: relative;
    background-color: var(--color-green);
    width: 100%;
    min-height: 385px;
    height: 45%;
}

.section--header::before{
    content: '';
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-color: var(--color-white); 
}

    /* Contact                 */
.section-contact{
    position: relative;
    top: 60px;
    width: 50%;
    height: 600px;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: -2px 4px 17px -2px rgba(0,0,0,0.61);
}
.section-contact::before{
    content: "";
    position: absolute; 
    bottom: 510px;
    right: -350px;
    width: 200%;
    height: 200px;
    background-color: var(--color-green);
    border-radius: 50%;
    overflow: hidden;
}
.section-contact::after{
    content: "";
    position: absolute;
    bottom: 490px;
    right: -350px;
    width: 200%;
    height: 200px;
    background-color: var(--color-green);
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.6;
}
.logo{
    position: absolute; 
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    top: 75px;
    z-index: 3;
}
.logo-img{
    object-fit: cover;
    width: 120px;
    height: 70px;
}
.logo-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}
/* end contact              */

.column--left{
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: var(--color-white);

}
.section__title{
    font-size: 1.8rem;
    font-weight: bold;
    width: 60%;
    height: 100%;
    margin-bottom: 30px;
}
.section__text{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 100px;
}
.section__controls{
    width: auto;
    border-radius: 25px;
    background-color: var(--color-black);
    padding: 10px 20px;
}
.section__controls:hover{
    background-color:var(--color-green);
}
.column--right{
    position: relative;
    top: 60px;
    width: auto;
    height: 100%;
}
.section__figure{
    max-width: 570px;
    max-height: 335px;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0 6px;
}
.section--gallery{
    margin-top: 120px;
    width: 100%;
    background-color: var(--color-grey);

}
.gallery--container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__title--gallery{
    font-size: 1.5rem;
    margin:20px 0 20px 0;
}
.section__filter{
    width: 100%;
    height: auto;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.btn__show--all,
.btn__foreground,
.btn__second--plan,
.btn__background{
    width: 10%;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
}
.btn__show--all:hover,
.btn__foreground:hover,
.btn__second--plan:hover,
.btn__background:hover{
    color: var(--color-white);
    background-color: var(--color-green);
}
/* .btn__show--all:not(:hover){ 
    color: var(--color-white);
    background-color: var(--color-black);
}*/

.gallery--figures{
    max-width: 740px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}
.gallery--cards{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--color-white);
    max-width: 200px;
    width: 100%;
    height: 350px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: -2px 4px 17px -2px rgba(0,0,0,0.61);
}
.gallery-img{
    max-width: 250px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    object-fit: cover;
    margin: 0;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.gallery--cards--title{
    font-size: 0.8rem;
    margin:15px 0 0 10px;
}
.gallery-description{
    font-size: 0.8rem;
    padding: 5px 15px;
}
.gallery-price{
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/** Inputs **/
.section--gallery input[type="radio"]{
    display: none;
}

/** default cards **/
.gallery--cards{
    display: none;
}


/** quand on check l'input all on affiche la card  **/
.section--gallery  input[id="all"]:checked ~ .gallery--figures .all{
    display: block;
}

/** quand on check l'input all on affiche le label autrement  **/
#all:checked ~ .section__filter .btn__show--all  {
    color:var(--color-white);
    background-color: var(--color-black);
}

#foreground:checked ~ .gallery--figures .foreground{
    display: block;
}
#foreground:checked ~ .section__filter .btn__foreground{
    color:var(--color-white);
    background-color: var(--color-black)
}

#second-plan:checked ~ .gallery--figures .second-plan{
    display: block;
}
#second-plan:checked ~ .section__filter .btn__second--plan{
    color:var(--color-white);
    background-color: var(--color-black)
}

#background:checked ~ .gallery--figures .background{
    display: block;
}
#background:checked ~ .section__filter .btn__background{
    color:var(--color-white);
    background-color: var(--color-black)
}

@media (max-width:1348px){
    .btn__show--all,
    .btn__foreground,
    .btn__second--plan,
    .btn__background{
        padding: 5px 10px;
        font-size: 0.7rem;
        font-weight: bold;

    }
}
@media (max-width:972px){
    .btn__show--all,
    .btn__foreground,
    .btn__second--plan,
    .btn__background{
        font-size: 0.6rem;
        font-weight: bold;
        width: 15%;
}
}
@media (max-width:750px) {
    .nav-content{
        display: none;
    }
    .menu-hamburger-content{
        display: block;
        width: 10%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-hamburger-content label{
        cursor: pointer;
    }
     .menu-hamburger-content input[type="checkbox"] {
        display: none;
    }  

    .menu-hamburger-content input[type="checkbox"]:checked ~ .modal-menu {
        transform: translateX(0);
    }

    /* Inverser l'animation lorsque le checkbox est décoché */
    .menu-hamburger-content input[type="checkbox"]:not(:checked) ~ .modal-menu {
        transform: translateX(0);
    }

    .page-container{
        flex-direction: column;
        gap: 0px;
    }
    .column--left{
        width: 100%;
        top: 30px;
        align-items: center;
    }
    .section__title{
        text-align: center;
        width: 30%;
    }
    .section__text{
        width: 50%;
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 30px;
    }
    .section__figure{
        margin: 0 30px;
    }
}
@media (max-width:584px){
    .btn__show--all,
    .btn__foreground,
    .btn__second--plan,
    .btn__background{
        font-size: 0.55rem;
        font-weight: bold;
        width: 17%;
}
}